{% extends 'layout.html' %}
{% block content %}
    <div class="register_form">
	    <form method="POST" action="">
		    {{ form.hidden_tag() }}
		    <fieldset class="fields">
			    <legend class="legends" style=color:red> 
				    Password Change Form 
			</legend>

		<div class="fileds">
			  {{ form.password.label(class="form-fileds") }}

                        {% if form.password.errors %}
                            <div>
                                 {{ form.password(class="form-fields is-invalid") }}
                                 {% for error in form.password.errors %}
                                 <span> {{ error }} </span>
                                 {% endfor %}
                         </div>
                        {% else %}
                           {{ form.password(class="form-fields") }}
                         {% endif %}
                </div>

		<div class="fileds">

			 {{ form.confirm_password.label(class="form-fileds") }}

                        {% if form.confirm_password.errors %}
                            <div>
                                 {{ form.confirm_password(class="form-fields is-invalid") }}
                                 {% for error in form.confirm_password.errors %}
                                 <span> {{ error }} </span>
                                 {% endfor %}
                         </div>
                        {% else %}
                           {{ form.confirm_password(class="form-fields") }}
                         {% endif %}

                </div>

		<div class="fileds">
                        {{ form.submit_button(class="form-fields") }}
                </div>

		    </fieldset>
	    </form>
    </div>
{% endblock content %}
